<h2>Editing Challenge Activity</h2>

<%= render 'form' %>

<div class="buttons">
    <%= link_to 'Show', @challenge_activity, :class => 'btn btn-default' %>
    <%= link_to 'Back', challenge_activities_path, :class => 'btn btn-default' %>
</div>