<h2>Editing challenge</h2>

<%= render 'form' %>

<div class="buttons">
    <%= link_to 'Show', @challenge, :class => 'btn btn-default' %>
    <%= link_to 'Back', challenges_path, :class => 'btn btn-default' %>
</div>