<div class="row">
    <div class="col-md-6">
        <p style="margin-bottom: 0">&nbsp;&nbsp;&copy; 2014
            <a href="http://www.squirrel-legend-games.com">Squirrel Legend Games, Inc.</a></p>
    </div>
    <div class="col-md-6">
        <p style="margin-bottom: 0; text-align: right">Palo Alto, CA&nbsp;&nbsp;</p>
    </div>
</div>
