<h2>Edit Activity Track</h2>

<%= render 'form' %>

<div class="buttons">
    <%= link_to 'Show', @activity_track, :class => 'btn btn-default' %>
    <%= link_to 'Back', activity_tracks_path, :class => 'btn btn-default' %>
</div>
